<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>MainFormServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.MainFormServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CategoryFormServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.CategoryFormServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProductFormServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.ProductFormServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>NewAccountFormServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.NewAccountFormServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>NewAccountServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.NewAccountServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>MainFormServlet</servlet-name>
        <url-pattern>/mainForm</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CategoryFormServlet</servlet-name>
        <url-pattern>/categoryForm</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProductFormServlet</servlet-name>
        <url-pattern>/productForm</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NewAccountFormServlet</servlet-name>
        <url-pattern>/registerForm</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NewAccountServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.UpdateCartServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateCartItemAjaxServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.UpdateCartItemAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.RemoveCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOnFormServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.SignOnFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.NewOrderFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOnServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.SignOnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOrderServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.NewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.ConfirmOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.ViewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrdersServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.ListOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.CaptchaServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EditAccountFormServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.EditAccountFormServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EditAccountServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.EditAccountServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.CheckUsernameServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/addItemToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateCartItemAjaxServlet</servlet-name>
        <url-pattern>/updateCartItemAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <url-pattern>/removeItemFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOnFormServlet</servlet-name>
        <url-pattern>/signonForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <url-pattern>/newOrderForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOnServlet</servlet-name>
        <url-pattern>/signOn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOrderServlet</servlet-name>
        <url-pattern>/newOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <url-pattern>/confirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderServlet</servlet-name>
        <url-pattern>/viewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrdersServlet</servlet-name>
        <url-pattern>/listOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountFormServlet</servlet-name>
        <url-pattern>/editAccountForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountServlet</servlet-name>
        <url-pattern>/editAccount</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <url-pattern>/checkUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/viewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListLogsServlet</servlet-name>
        <servlet-class>com.csu.petstore.web.servlet.ListLogsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListLogsServlet</servlet-name>
        <url-pattern>/listLogs</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>actionLogFilter</filter-name>
        <filter-class>com.csu.petstore.web.filter.ActionLogFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>actionLogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
